.profile-button {
    font-size: 16px;
    background-color: white;
    border: none;
    color: #333333;
}

.profile-button:hover {
    color: #008cff;
  }

.profile-dropdown {
    width: fit-content;
    display: flex;
    flex-direction: column;
    position: absolute;
    list-style: none;
    right: 40px;
    top: 70px;
    background-color: white;
    z-index: 2;
    border: solid 2px var(--a__gray3);
    box-sizing: inherit;
    box-shadow: 0px 0px 16px 0px rgba(0,0,0,0.2);
}

.user-name {
    width: 250px;
    height: 50px;
    border-bottom: solid 2px var(--a__gray3);
    font-weight: bold;
    display: flex;
    align-items: center;
    margin: 0;
    padding-left: 20px;
}

.logout-button {
    background-color: white;
    border: none;
    width: 100%;
    height: 50px;
    display: flex;
    flex-direction: row;
    align-items: center;
    border-top: 2px solid var(--a__gray3);
    font-size: 15px;
    color: #333333;
}

.transfers-button {
    background-color: white;
    border: none;
    width: 100%;
    height: 50px;
    display: flex;
    flex-direction: row;
    align-items: center;
    font-size: 15px;
    color: #333333;
}
.logout-button1, .transfers-button1 {
    padding-right: 20px;
    padding-left: 10px;
    font-size: 20px;
    display: flex;
    align-items: center;
}

.logout-button2, .transfers-button1 {
    display: flex;
    align-items: center;

}

.logout-button:hover, .transfers-button:hover {
    background-color: var(--a__gray3);
    color: #333333;
}
