.homePage__admin {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .homePage__admin > div {
    margin-bottom: 10px;
  }

  .allTickets,
  .openTickets,
  .inProgressTickets,
  .closedTickets {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 40%;
  }

  .allTickets > .admin_ticket,
  .openTickets > .admin_ticket,
  .inProgressTickets > .admin_ticket,
  .closedTickets > .admin_ticket {
    margin-bottom: 10px;
    width: 100%;
  }

  .ticket_button.selected {
    background-color: gray;
  }

  .modal-button-container {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
  }

  .modal-button {
    background-color: #4CAF50; /* Green background */
    border: none; /* Remove borders */
    color: white; /* White text */
    padding: 15px 32px; /* Some padding */
    text-align: center; /* Centered text */
    text-decoration: none; /* Remove underline */
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer; /* Mouse pointer on hover */
    transition-duration: 0.4s; /* Transition */
  }

  .modal-button:hover {
    background-color: white; /* White background */
    color: black; /* Black text */
  }
